/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
/*@import 'nativescript-theme-core/css/sky.css';*/

.card-noticia .titulo{
  font-weight: 700;
  font-size: 16px;
}
.card-noticia .avatar{
  font-size:35;
  height: 50;
  width: 50;
  color: #fff;
  background-color: #FF4081;
  border-radius: 25;
  text-transform: uppercase;
  horizontal-align: center;
  vertical-align: center;
  text-align: center;
}

.card-noticia .data{
  height: 50;
  horizontal-align: right;
  text-align: right;
  vertical-align: center;
}